MallProject/.vs/MallProject/v16/.suo
MallProject/.vs/MallProject/v16/.suo
MallProject/.vs/MallProject/v16/Server/sqlite3/storage.ide-shm
MallProject/.vs/MallProject/v16/Server/sqlite3/storage.ide-shm
