
MallProject/MallProject/obj/Debug/MallProject.pdb
MallProject/MallProject/obj/Debug/MallProject.dll
MallProject/MallProject/obj/Debug/MallProject.csprojAssemblyReference.cache
MallProject/MallProject/bin/MallProject.pdb
MallProject/MallProject/bin/MallProject.dll
MallProject/.vs/MallProject/v16/Server/sqlite3/storage.ide-wal
MallProject/.vs/MallProject/v16/Server/sqlite3/storage.ide-shm
MallProject/.vs/MallProject/v16/.suo
MallProject/.vs/MallProject/v16/.suo
MallProject/MallProject/bin/MallProject.dll
MallProject/MallProject/bin/MallProject.pdb
MallProject/MallProject/obj/Debug/MallProject.csproj.CoreCompileInputs.cache
MallProject/MallProject/obj/Debug/MallProject.csprojAssemblyReference.cache
MallProject/MallProject/obj/Debug/MallProject.dll
MallProject/MallProject/obj/Debug/MallProject.pdb
package-lock.json
MallProject/.vs/MallProject/v16/.suo
MallProject/MallProject/bin/MallProject.dll
